PORT=3000
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
DATABASE_URL="mysql://fedya:fedya@localhost:3306/fedya"
MYSQL_DATABASE=fedya
MYSQL_USER=fedya
MYSQL_PASSWORD=fedya
MYSQL_ROOT_PASSWORD=fedya_root
REDIS_HOST=redis
REDIS_PORT=6379
BOTHUB_API_KEY=
TEXT_RU_API_KEY=
OUTLINE_API_URL="https://outline.rilokobotfactory3.ru/api"
OUTLINE_API_KEY=
OUTLINE_MIGRATE_ON_START=false
LOG_FILE_PATH=logs/app.log
BITRIX_WEBHOOK=
BOTHUB_MOCK_MODE=false
